/*gentsdoc css*/
body{
  padding:0;
  margin:0;
}  
.gentsdoc > div{
    padding:20px;
  }
  .gentsdoc p{
    padding-left:2em;
  }

  .gentsdoc > .container p font.notes{
    color:green;
    font-size:12px;
  }


  .gentsdoc > .nav{
    float:left;
    width:250px;
  }
  
  .gentsdoc > .container{
    padding-top:0px;
    float:left;
  }
  
  .gentsdoc > .nav .first{
    display:block;
    line-height:30px;
    color:#4d4d4d;
    font-weight:bold;
    font-size:16px;
  }
  .gentsdoc > .nav a{
    padding-left:15px;
    display:block;
    line-height:30px;
    text-decoration: none;
    color:#4d4d4d;
    font-size:14px;
  }
  
  .gentsdoc > .container > div{
    clear:both;
  }
  .gentsdoc .container a{
    text-decoration: none;
    color:#69c;
  }
  
  .gentsdoc .container a:hover{
    text-decoration: underline;
  }
  
  .gentsdoc > .container > a.totop{
     position:fixed;
     bottom:20px;
     right:20px;
     background:#f0f0f0;
     font-size:30px;
     text-align:center;
     line-height:40px;
     width:40px;
     height:40px;
     box-sizing:border-box;
     border-radius:20px;
     color:#4d4d4d;
  }

  .gentsdoc > .container > a.totop:hover{
    text-decoration:none;
  }

  .gentsdoc > .container ul{
    padding-inline-start: 2em;
  }
  .gentsdoc > .container li{
    list-style:none;
  }
  .gentsdoc > .container h1 {
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .gentsdoc > .container h2 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom:10px;
    padding-left:5px;
  }
  .gentsdoc > .container h3 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left:10px;
  }
  .gentsdoc > .container h4 {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 0px;
    padding-left:15px;
  }
  .gentsdoc > .container h5 {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-left:20px;
  }
  
  .gentsdoc > a{
    display:block;
    line-height:30px;
    text-decoration: none;
    color:#4d4d4d;
  }
  
  .gentsdoc .since {
      font-size: 12px;
      color: green;
    }
    .gentsdoc .deprecated {
      font-size: 12px;
      color: #4D4D4D;
      padding: 5px;
      margin-bottom: 10px;
    }
    .gentsdoc .deprecatedtip {
      font-size: 14px;
      background-color: #a00;
      color: white;
      padding: 10px 20px;
      margin-bottom: 10px;
      display: block;
    }
    .gentsdoc .datatype {
      color: green;
      font-weight: bold;
      font-style: italic;
    }
    .gentsdoc .modifier {
      color: green;
      font-weight: bold;
      font-style: italic;
    }